<launch>

  <!-- Launch the realsense cameras -->
  <arg name="device_type_camera"                default="l515"/>
  <!-- <arg name="serial_no_camera"                     default="f0190078"/> -->
  <arg name="serial_no_camera"                          default=""/>
  <arg name="camera"                                    default="yumi_l515"/>
  <arg name="tf_prefix_camera"          default="$(arg camera)"/>
  <arg name="initial_reset"             default="false"/>
  <arg name="json_file_path"            default="$(find yumi_realsense)/config/l515_preset.json"/>
  <!-- RGB resolution: 960 x 540, 1280 x 720, 1920 x 1080 -->
  <!-- Depth resolution: 320 x 240, 640 x 480, 1024 x 768 -->
  <arg name="color_width"               default="1280"/>
  <arg name="color_height"              default="720"/>
  <arg name="depth_width"               default="1024"/>
  <arg name="depth_height"              default="768"/>
  <arg name="clip_distance"             default="-2"/>
  <arg name="align_depth"                 default="true"/>
  <arg name="depth_fps"                     default="30"/>
  <arg name="color_fps"                     default="30"/>
  <arg name="enable_sync"                 default="true"/>
  <arg name="enable_depth"              default="true"/>
  <arg name="enable_confidence"         default="false"/>
  <arg name="enable_pointcloud"         default="true"/>
  <arg name="pointcloud_texture_stream" default="RS2_STREAM_ANY"/>
  <!-- <arg name="pointcloud_texture_stream" default="RS2_STREAM_COLOR"/> -->
  <arg name="pointcloud_texture_index"  default="0"/>
  <arg name="ordered_pc"                default="true"/>

  <group ns="$(arg camera)">
    <include file="$(find realsense2_camera)/launch/includes/nodelet.launch.xml">
      <arg name="device_type"                 value="$(arg device_type_camera)"/>
      <arg name="serial_no"                   value="$(arg serial_no_camera)"/>
      <arg name="tf_prefix"                             value="$(arg tf_prefix_camera)"/>
      <arg name="initial_reset"               value="$(arg initial_reset)"/>
      <arg name="json_file_path"              value="$(arg json_file_path)"/>
      <arg name="align_depth"                 value="$(arg align_depth)"/>
      <arg name="color_width"                 value="$(arg color_width)"/>
      <arg name="color_height"                value="$(arg color_height)"/>
      <arg name="depth_width"                 value="$(arg depth_width)"/>
      <arg name="depth_height"                value="$(arg depth_height)"/>
      <arg name="clip_distance"               value="$(arg clip_distance)"/>
      <arg name="color_fps"                   value="$(arg color_fps)"/>
      <arg name="depth_fps"                   value="$(arg depth_fps)"/>
      <arg name="enable_sync"                 value="$(arg enable_sync)"/>
      <arg name="enable_depth"                value="$(arg enable_depth)"/>
      <arg name="enable_confidence"           value="$(arg enable_confidence)"/>
      <arg name="enable_pointcloud"           value="$(arg enable_pointcloud)"/>
      <arg name="pointcloud_texture_stream"   value="$(arg pointcloud_texture_stream)"/>
      <!-- <arg name="pointcloud_texture_index"    value="$(arg pointcloud_texture_index)"/> -->
      <arg name="ordered_pc"                  value="$(arg ordered_pc)"/>
    </include>
  </group>

   <node pkg="tf" type="static_transform_publisher" name="camera_to_l515" args="0 0 0 0 0 0 1 yumi_camera_link yumi_l515_link 100">

</launch>