<?xml version="1.0"?>
<launch> <!-- Launch file for the Yumi robot control system, Taken from UNILACE - WE WILL MAKE A TOP LEVEL LAUNCH SO THIS MAY BE DELETED -->
    <env name="ROSCONSOLE_CONFIG_FILE" value="$(find sl_ctrl)/config/rosconsole.conf"/>

    <arg name="sim" default="true"/>
    <arg name="rviz" default="false"/>

    <!-- Launch moveit -->
    <include file="$(find yumi_moveit_config)/launch/moveit_planning_execution.launch">
        <arg name="rviz" value="$(arg rviz)"/>
    </include>

    <!-- Launch the vision module -->
    <include file="$(find sl_visn)/launch/sl_visn.launch">
        <arg name="sim" default="$(arg sim)"/>
    </include>

    <!-- Launch the pattern designer -->
    <include file="$(find sl_ctrl)/launch/sl_designer.launch">
    </include>

    <!-- Launch the primitive sequence planner -->
    <include file="$(find sl_ctrl)/launch/sl_planner.launch">
    </include>

    <node pkg="sl_ctrl" name="sl_ctrl_node" type="sl_ctrl_node.py" output="screen">
	    <!-- <rosparam command="load" file="$(find sl_ctrl)/config/param.yaml" /> -->
        <param name="sim" type="bool" value="$(arg sim)" />
    </node>

    <node pkg="sl_ctrl" name="sl_logger" type="sl_logger.py" output="screen">
    </node>

</launch>