<?xml version="1.0"?>
<launch>
    <node pkg="sl_visn" name="sl_visn_node" type="sl_visn_node.py" output="screen" >
        <param name="sim" type="bool" value="$(arg sim)" />
        <!-- load params -->
        <rosparam command="load" file="$(find sl_visn)/config/params_real.yaml"/>
    </node>
</launch>